<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpeechkinApp.Settings.SpeechkinAppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SpeechkinApp.Settings.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <SpeechkinApp.Settings.SpeechkinAppSettings>
            <setting name="SpeechAuthUrl" serializeAs="String">
                <value>https://api.cognitive.microsoft.com/sts/v1.0</value>
            </setting>
            <setting name="SpeechLanguageDefault" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="TranslatorUrl" serializeAs="String">
                <value>https://api.cognitive.microsofttranslator.com</value>
            </setting>
            <setting name="SelectedDataFlowId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InputDeviceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SampleRateValue" serializeAs="String">
                <value>16000</value>
            </setting>
            <setting name="BitsPerSampleValue" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ChannelValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TranslatorTimeout" serializeAs="String">
                <value>00:00:05</value>
            </setting>
            <setting name="DocumentsPath" serializeAs="String">
                <value />
            </setting>
        </SpeechkinApp.Settings.SpeechkinAppSettings>
        <SpeechkinApp.Settings.User>
            <setting name="SpeechAuthUrl" serializeAs="String">
                <value>https://api.cognitive.microsoft.com/sts/v1.0</value>
            </setting>
            <setting name="SpeechLanguageDefault" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="TranslatorUrl" serializeAs="String">
                <value>https://api.cognitive.microsofttranslator.com</value>
            </setting>
        </SpeechkinApp.Settings.User>
    </userSettings>
</configuration>